<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MatrixFS</title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Tether -->
    <script src="../bower_components/tether/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="../bower_components/tether/dist/css/tether.min.css">

    <!-- Bootstrap -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="../css/lib/bootstrap-material-design/ripples.min.css">
    <link rel="stylesheet" href="../css/lib/bootstrap-material-design/bootstrap-material-design.min.css">
    <script src="../js/lib/bootstrap-material-design/material.min.js"></script>
    <script src="../js/lib/bootstrap-material-design/ripples.min.js"></script>

</head>
<body>

<a href="javascript:void(0)" class="btn btn-raised active"><code>.active</code></a>
<a href="javascript:void(0)" class="btn btn-raised btn-default">Default</a>
<a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
<a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
<a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
<a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning</a>
<a href="javascript:void(0)" class="btn btn-raised btn-danger">Danger</a>
<a href="javascript:void(0)" class="btn btn-raised btn-link">Link</a>

<script>
    $(function () {
        $.material.init();
    });
</script>
</body>
</html>