<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MatrixFS</title>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="page-header">
    <h1 style="text-align: center;"><img style="height:75px; display:inline-block"
                                         src="https://natebrennand.github.io/concurrency_and_golang/pics/gopher_head.png">
        MatrixFS </h1>
</div>

</br>
</br>
</br>

<div class="container main" style="width: 500px;">
    <form name="sysConfig" role="form" action="/file" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="faultNumber">容错数</label>
            <input type="number" class="form-control" id="faultNumber" name="faultNumber"
                   placeholder="Enter number of faults">
        </div>
        </br>
        <div class="form-group">
            <label for="rowNumber">阵列行数</label>
            <input type="number" class="form-control" id="rowNumber" name="rowNumber"
                   placeholder="Enter number of rows">
        </div>
        </br>
        </br>
        <input type="submit" class="btn btn-default center-block" id="submitBtn" value="submit">
    </form>
</div>
<script>
    (function(){
        function validateForm() {
            var $submitBtn = $('#submitBtn');
            var $faultNumBox = $('#faultNumber');
            var $rowNumBox = $('#rowNumber');
            $submitBtn.click(function () {
                var faultNum = $faultNumBox.text();
                var rowNum = $rowNumBox.text();
                if (faultNum >= 2 && rowNum >= 2) {
                    if (faultNum > 30 || rowNum > 30) {
                        window.alert("容错数和行数不应大于30");
                        return false;
                    }
                } else {
                    window.alert("容错数和行数应大于1");
                    return false;
                }
            })
        }
    })
</script>
<!-- todo : 验证表单后再提交 -->
<!--<script src="../js/index.js"></script>-->

</body>
</html>